body {
  display: flex;
}

.game-container {
  width: 500px;
  height: 730px;
  position: absolute;
  left: 60px;
}

.border-lijevo {
  width: 60px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
}

.border-desno {
  width: 60px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
  left: 580px;
}

.border-gore {
  width: 660px;
  height: 50px;
  background-color: white;
  position: absolute;
  z-index: +2;
  top: -50px;
}

.nebo {
  background-color: skyblue;
  background-image: url(/Flappy-igrica/assets/fb-game-background.png);
  width: 500px;
  height: 582px;
  position: absolute;
}

.zemlja {
  background-image: url(/Flappy-igrica/assets/bottom-background.png);
  width: 500px;
  height: 150px;
  position: absolute;
  top: 580px;
  z-index: +1;
}

.ptica {
  background-image: url(/Flappy-igrica/assets/flappy-bird.png);
  /* background-color: yellow; */
  width: 60px;
  height: 45px;
  position: absolute;
}

.prepreka {
  background-image: url(/Flappy-igrica/assets/flappybird-pipe.png);
  background-color: green;
  width: 60px;
  height: 300px;
  position: absolute;
}

.gorePrepreka {
  background-image: url(/Flappy-igrica/assets/flappybird-pipe.png);
  background-color: green;
  transform: rotate(180deg);
  width: 60px;
  height: 300px;
  position: absolute;
}

.igraj {
  background-image: url(assets/replay.png);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: +4;
}
